.container-wrapper {
    container-type: inline-size; 
    container-name: layout;
    padding: 1rem;
}
  
.container-2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  
    @container layout (min-width: 576px) {
      max-width: 540px;
    }
  
    @container layout (min-width: 768px) {
      max-width: 720px;
    }
  
    @container layout (min-width: 992px) {
      max-width: 960px;
    }
}
  